.card {
  display: flex;
  perspective: 1000px;
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.flipped {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  backface-visibility: hidden;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--color-primary);
  color: white;
  justify-content: center;
  align-items: center;
}

.back {
  background: var(--color-tertiary);
  color: white;
  transform: rotateY(180deg);
  font-size: 30px;
  font-weight: bold;
}

.matched {
  background-color: var(--color-secondary);
}
