.body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body.white {
  background-color: white;
}

.menu-header {
  color: white;
}
.menu {
  padding: 40px 25px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 550px;
  margin-top: 40px;
}

.menu-label {
  color: var(--color-tertiary);
  font-size: 14px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0;
}

.start-button {
  margin-top: 20px;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
}

.nav {
  color: var(--color-primary);
}

.new-game {
  margin-left: 10px;
}

.footer {
  width: 80%;
  display: flex;
  align-items: center;
  max-width: 1500px;
  justify-content: center;
}

.footer-item {
  display: flex;
  align-items: center;
  padding: 17px;
  flex: 1;
  background-color: var(--color-tertiary);
  max-width: 200px;
  margin: 0 10px;
  font-weight: 500;
  color: var(--color-primary);
  border-radius: 10px;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.footer-item.active {
  background-color: var(--color-secondary);
  color: white;
  position: relative;
}

.footer-item .score {
  font-size: 24px;
  font-weight: bold;
}

.footer-item.active::before {
  content: '';
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid var(--color-secondary);
  transform: rotate(90deg);
}

.footer-item.active::after {
  content: 'CURRENT TURN';
  position: absolute;
  bottom: -20px;
  color: var(--color-primary);
  text-align: center;
  left: 0;
  right: 0;
  font-size: 12px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 560px) {
  .menu {
    width: 90%;
    padding: 20px 15px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .menu-label {
    font-size: 12px;
  }
  .grid-2,
  .grid-4 {
    grid-gap: 10px;
  }

  .footer-item.active::after {
    display: none;
  }
}
